@tailwind base;
@tailwind components;
@tailwind utilities;

body, main {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-2xl;
  @apply font-bold;
  @apply text-accent;
}

.menu li > .active {
  @apply bg-primary !important;
}

.menu li > *:not(.active):hover {
  @apply bg-primary-content !important;
}

.btn-ghost:hover {
  @apply bg-primary-content !important;
}

.page-title {
  @apply text-accent;
  @apply text-4xl;
  @apply font-bold;
}

.table thead {
  @apply bg-primary-content;
}